<ion-header no-border>
  <ion-toolbar no-border>
    <ion-title >PIN page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-grid>
    <ion-row> 
      <ion-col>
        <ion-label>TRIPID</ion-label>
      </ion-col>  
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-label>Enter your PIN code</ion-label>
      </ion-col>  
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-label>-</ion-label>
      </ion-col>  
      <ion-col>
        <ion-label>-</ion-label>
      </ion-col> 
      <ion-col>
        <ion-label>-</ion-label>
      </ion-col> 
      <ion-col>
        <ion-label>-</ion-label>
      </ion-col> 
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-button size="large" value="1" color="white"  fill="outline">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" value="2" color="white"  fill="outline">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" value="3" color="white"  fill="outline">3</ion-button>
      </ion-col>    
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-button size="large" value="4" color="white"  fill="outline">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" value="5" color="white"  fill="outline">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" value="6" color="white"  fill="outline">6</ion-button>
      </ion-col>    
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-button size="large" value="7" color="white"  fill="outline">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" value="8" color="white"  fill="outline">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" value="9" color="white"  fill="outline">9</ion-button>
      </ion-col>    
    </ion-row>
    <ion-row> 
      <ion-col>
        <ion-button size="large"value="0"  color="white"  fill="outline">0</ion-button>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer text-center>
  <ion-row> 
    <ion-col>
      <ion-button>Forgot PIN</ion-button>
    </ion-col>  
    <ion-col>
      <ion-button>Logout</ion-button>
    </ion-col> 
  </ion-row>
 
</ion-footer>
